.barra{
    background-color:#008374;
    height: 200px;
    width:1525px ;
}
.barra2{
    background-color:#23a092;
   position: absolute;
    top: 100px;
    height: 600px;
    width:1525px ;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #ffff;
  left: 150px;
  font-weight: 550;
  position: absolute;
  top: -6px;
}
.escrita {
 font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #ffff;
  font-weight: 50;
  
  
}
.um{
    top:0px;
    position: absolute;
    left: 800px;

}
.dois{
    top:0px;
    position: absolute;
    left: 950px;

}
.tres{
    top:0px;
    position: absolute;
    left: 1125px;

}

.mulher{
    position: absolute;
    top: 100px;
    left: 900px;

}